/* GRID-LINES for TESTING 'ONLY' ==> {outline: 1px solid red;}*/

/* ============================================ */
/* CASCADING STYLESHEET ======================= */
/*
      1.  Global NAVIGATION + Pagination
      2.  UNIVERSAL Styles
      3.  Grids              
      4.  Images + Buttons                      */
/* ============================================ */


/* ============================================ */
/* 1a. Global NAVIGATION ====================== */
/* ============================================ */

header {
  margin: 0; 
  padding: 0 5em;   /* Aligns with <article> Containers */
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); 
  z-index: 100;
}
.fa-home, .fa-bars {color: #fff;}
@media screen and (max-width: 800px) {header {padding: 0 1em;}}
/**/
/* breakpoint in pixels for responsive */
/* dropdown Menu core scss */
nav ul {
  display: grid;
  grid-template-columns: 44vw repeat(3, 12.41vw);
  grid-column-gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
nav ul li {
  position: relative;
  display: inline-block;
}
nav ul li:hover > ul {display: inherit;}
nav ul li:hover > ul li {display: list-item;}
nav ul li a {
  display: block;
  border-bottom: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  /* optional: submenu is same width than parent entry width */
  min-width: 100%;
  /* optional: submenu background color */
  background-color: #aaa; 
}
nav ul li ul ul {
  left: 100%;
  top: 0;
}
/* Menu Link Styles */
/*nav {background: linear-gradient(to right, #434343 0%, black 100%);}*/
nav ul li:hover {background-color: #888;}
nav ul li:first-child:hover {background-color: transparent;}
nav ul li a {
  color: #fff;
  font-size: 1.4em;
  font-variant: small-caps;
  text-decoration: none;
  margin: 0;
  padding: 0.8em; 
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2); 
  color: #fff;
  text-decoration: none;
}
nav ul li > a:after {
  content: ' +';
  margin-left: 0.124em;
}
nav ul li > a:only-child:after {content: '';}
/*-----*/
nav ul li ul li a {
  font-size: 1em; 
  padding: 8px 0 8px 1em;
}
/* Mobile Responsive */
@media (max-width: 980px) {
  nav ul {display: inherit;}
  nav ul:first-child:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    font-size: 1.5em;
    display: block;
    padding: 0.2em 0;
    color: #fff;
    text-align: right;
  }
  nav ul:active li, ul:focus li, ul:hover li {display: list-item;}
  nav ul li {
    display: none;
    background-color: #aaa;
  }
  nav ul li ul {
    position: relative;
    min-width: auto;
    display: inherit;
    border-top: 2px solid #999;
  }
  nav ul li ul li {display: block;}
  nav ul li ul li a {position: relative;}
  nav ul li ul li a:before {
    content: '';
    padding-left: 1.5%;
  }
  nav ul li ul li ul {left: 0;}
}
/* ******************************************** */
/* ****Header PERFECTLY Aligned with <body>**** */
/* ============================================ */


/* ============================================ */
/* 2. UNIVERSAL BASE STYLES =================== */
/* ============================================ */

/* Universal Layout Containment */
html {box-sizing: border-box;} 
*:before, *:after {box-sizing: inherit;} 
/* Prevent 'User CopynPaste' */
main {
  margin: 0 1em;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
/**/
/* Smooth Scroll Effect + Remove Browser Scroll */
html {
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
/**/
body {
  height: 100%;
  margin: 0;
  padding: 0;
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
}
/**/
main {}                   /* 'PHP' Container */
/* Page-Alignment => REQUIRED for Full-Width Images
   Images 'MUST' be placed 'Outside of Section or Article' */
section {}                /* 'HTML' Containers */
aside {}                  /* Container for Full-Width <img>*/
article {margin: 0 0.4em}   /* Container for 'Content' */
/**/
footer  {
  margin: 0.8em 0 0 0;
  padding: 8px 0;
  text-align: center;
  font-size: 14px;   
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); 
  color: #fff;
  /*Sticky
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;*/
}
@media all and (min-width: 800px){main {margin: 0 4em;}}
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++ */
a {
  text-decoration: none;
  color: #000;
  /*  Text-Decoration Color + Underline Offset + TD Thickness*/
  border-bottom: #000 0.044em dashed;
}
a:hover {opacity: 0.7;}
details {margin: 0 4px; font-size: 0.8em;}
dialog::backdrop {
  background: rgba(255,0,0,.25);
}
figure {margin: 0; padding: 0;}
figcaption {
  font-size: 0.80em;
  font-style: italic;
  text-align: center;
}
.title {text-align: center;}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: bolder;
  font-variant: small-caps;
}
h2, h3, h4, h5, h6 {margin-bottom: -0.44em;}
h1 {font-size: calc(1.2rem + 2.4vw);} 
h2 {background-color: #444; color: #fff;}
h3 {background-color: #7b7b7b;}
h4 {background-color: #bebdbf;}
h5 {background-color: gold;}
/* ********* ********  */ 
hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: visible;
  text-align: center;
}
hr:after { 
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}
/* Highlights 'Terminology' => DO NOT EDIT ~or~ REMOVE */
i {
  color: #000;
  font-variant: small-caps;
  font-weight: bold;
} 
p, mark, summary { 
  font-size: calc(0.96rem + 0.02vw);
  line-height: 1.248; 
}
/* 'Dim' TEXT-Color Styles */
p, ol {color: #444;}
/* <ol> used for 'List of Contents' */
ol {
  font-size: 0.88em;
  margin-left: 0;
  padding-left: 1.2em;
}
ol > ul {
  margin-left: 0;
  padding-left: 1.2em;
}
ol.alpha {list-style-type: lower-alpha;}
@media all and (min-width: 800px) {  
  main {margin: 0 5.3em;}
  code, p code, details {font-size: 1em;}
  details{font-size: 1.2em;}
  figure {margin: 0;}
  h2, h3, h4, h5, h6 {margin-bottom: 0.2em;}
  .addMarginTop {margin-bottom: 0.8em;}
  p {font-size: 1.1em; margin: 0.25em 0.55em 0.25em 0.25em;}
  ol {
    font-size: 1em; 
    padding-left: 80px;
  }
}


/**//****************************************//**/
/**/
/*Vocab Character Grid Multi-SM-Col*/
.vocabGrid {
  margin: 0.8em 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, auto));
  grid-template-rows: auto;
  grid-gap: 0.5em;
}
/*Unicode <div> Style*/
.word {
  background: #dedddd;
  text-align: center;
}
.pinyin {
  font-size: 1.15em;
}
.hanzi {
  font-size: 1.8em;
}
.translation {
  font-size: 1em;
}
@media only screen and (min-width: 800px) {
  .vocabGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
  }
}
/**//****************************************//**/


/**//****************************************//**/
/* Tabbed Interface to Mobile Accordion */
/* https://codepen.io/mikestreety/pen/yVNNNm*/
/* Interface Container*/
.tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1; 
	display: block;
	padding: 0.8rem 2em;
	margin-right: 0.22rem;
	cursor: pointer;
  background: #444;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  background: #fff;
}
.tabs input[type="radio"] {display: none;}
.tabs input[type="radio"]:checked + label {background: #fff; color: #444;}
.tabs input[type="radio"]:checked + label + .tab {display: block;}
.tab h2 {margin-top: -0.44em; background: #ccc; color: #000;}
@media (max-width: 45em) {
  .tabs .tab, .tabs label {order: initial;}
  .tabs label {
    width: 100%;
	  padding: 0.8rem 0;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}


/**//****************************************//**/

