/* ========================================= */
/* CASCADING STYLESHEET ==================== */
/*
      *   Main Navigation
      1.  xyz123
      2.  xyz123
      3.  xyz123              
      4.  xyz123
      5.  xyz123                     */
/* ========================================= */


/* ============================================ */
/* 1. TOP-NAVIGATION ========================== */
.topnav {
  overflow: hidden;
  background-color: #333; /* DELETE before Production */
}
/**/
main {padding: 0 1em;}
/**/
.topnav a:first-child {float: right;}
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover {
  /*background-color: red;
  color: black;*/
	transition-duration: 0.8s;
}
.topnav a:not(.active) {}
header.topnav > .active {
  /*background-color: red;*/
  color: white;
  padding-right: 2.6em;
}
.topnav .icon {
  display: none;
}
fa-home {
  padding-right: 75px;
}

@media screen and (max-width: 800px) {
  .topnav a:first-child {float: left;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*Settings for 'FIXED-Header/Nav' on 'Desktop = REQ'*/
@media screen and (min-width: 800px) {
  header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
  }
  main {margin-top: 44px;}
}
/* ============================================ */


/* ***** GRID LAYOUTS & Section Styles *****/
/* Website Grid Container*/

@media only screen and (min-width: 800px) {
  section {
    display: grid;
    grid-auto-flow: column;
  }
}

section {
  display: grid;
  grid-auto-flow: row;
}





section:first-child {margin: 0px;}


/*Gradient Text*/
.gradient-text {
  background: -webkit-linear-gradient(pink, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/**/


/*Section Background Color
section:nth-child(odd){background: palegoldenrod;}
*/





/**//***********************************//**/
/* ********* UNIVERSAL BASE STYLES *********/
/* Universal Layout Containment */
*, *:before, *:after {box-sizing: border-box;} 
/*
*/
body {
  margin: 0;
  padding: 0px 16px;
  /*font-size: calc(1.01em + 1.01vw); */
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
  /*background-image: linear-gradient(to right, #434343 0%, black 100%); Premium Dark */
  /*Above the Sky*/
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  /*Slick Carbon
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;*/
}
h1, h2, h3, h4, h5, h6 {
  /*margin: 0;
  padding: 0;*/
  text-align: center;
}
p {
  text-align: justify;
  line-height: 1.5; 
  /*font-size: 0.88em;*/
}
a {
  text-decoration: none;
  color: black;
}
a:hover {opacity: 0.7;}
ul {
  list-style-type: none; 
  /*margin: 0; 
  padding: 0;*/
}
li {}
hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: visible;
  text-align: center;
}
hr:after { /*rgba(255, 0, 0, 0.8)*/
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font-size: 0.9em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}
/**//***********************************//**/
/*
*/
/* BUTTONS ******************************* */
.btn {
  display: inline-block;
  width: 95%;
  margin: 0; padding: 0;
  text-align: center; 
  color: #fff;
  letter-spacing: 1px;
  background-color: #000;
  border-radius: 0.35em;
  text-align: center;
  border: 2px solid #fff;
}
.btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  opacity: 1;
}
p.btn {
  height: 100%;
  text-align: center;
  border: 2px solid #000;
}
@media only screen and (min-width: 800px) {
  .btn {
    width: 100%;
    height: 44px;
  }
  .miniGallery {margin: 50px 0;}
}
/**//***********************************//**/
/*
*/
/* IMAGES ******************************** */
.mainImage {
  width: 100%;
  height: auto;
}
.imgL {
  float: left;
  margin: 8px 8px 0 0;
  width: 33%;
  height: auto; 
  border-radius: 8px;
}  
.imgR {
  float: right;
  margin: 8px 0 0 4px;
  width: 34%;
  height: auto; 
  border-radius: 8px;
} 
@media all and (min-width: 800px) {  
  .imgL {
    float: left;
    margin: 5px 20px 0 0;
    width: 35%;
    height: auto; 
    /*border: 2px solid #c41e3a;*/
    border-radius: 2px;
  }
  .imgR {
    float: right;
    margin: 8px 0 0 20px; /*0 0 10px 25px*/
    width: 32%;
    height: auto; 
    /*border: 2px solid #c41e3a;*/
    border-radius: 2px;
  }
  /**/
}
/**//***********************************//**/

/** #Contact (Social Media) Grid ***/
.download {grid-area: download;}
.github {grid-area: github;}
.twitter {grid-area: twitter;}
.email {grid-area: email;}
.phone {grid-area: phone;}
ul.social {
  margin: 0.4em;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.81rem;
  justify-content: space-between;
  grid-template-areas: 
    "download github twitter email phone";
}
/**//***********************************//**/
/**//***********************************//**/

/*
*/
/* DETAILS ******************************* */
details {
  margin: 1rem auto;
  padding: 0 0.8rem 0 0.2rem;
  width: 100%;
  max-width: 100%;
  position: relative;
  border: 1px solid #838487;
  border-radius: 4px;
  color: #000;
}
details > p {
  margin: 0 0 1em;
  font-size: 0.64em;
}
details > :last-child {margin-bottom: 1rem;}
details::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: .15;
  box-shadow: 0 .25em .25em #838487;
  transition: opacity .2s;
  z-index: -1;
}
details[open] {background-color: #fff;}
details[open]::before {opacity: .6;}
/* 'Summary' Component */
summary {
  font-size: 0.64em;
  padding: 0.5rem 1em 0.5rem 0;
  display: block;
  position: relative;
  cursor: pointer;
}
summary::before, summary::after {
  width: .75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  background-color: #000;
  text-align: right;
  transform: translateY(-50%);
  transition: transform .2s ease-in-out;
}
summary::after {
  transform: translateY(-50%) rotate(90deg);
}
[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}
summary::-webkit-details-marker {display: none;} /* !REQUIRED! */
/**//***********************************//**/

/** SOCIAL MEDIA + FOOTER **************** */
.download {grid-area: download;}
.github {grid-area: github;}
.twitter {grid-area: twitter;}
.email {grid-area: email;}
.phone {grid-area: phone;}
ul.social {
  margin: 0.4em;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.81rem;
  justify-content: space-between;
  grid-template-areas: 
    "download github twitter email phone";
}
/*
*/
footer  {
  text-align: center;
  font-size: 14px; 
  color: #838487;
}
/**//***********************************//**/
/**//***********************************//**/