/* =========================================================== */
/* ====================== GRID LAYOUTS ======================= */



/* ********************************** */
/* MAIN-TEMPLATE GRID */
.grid {
	margin: 8vw;
  padding: 0 auto;
	display: grid;
	grid-template-rows: 2vmin 100% minmax(10px,auto); /*10vmin 100% minmax(20px,auto)*/
	grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .grid {
	margin: 0 10vw;
  padding: 0 auto;
	display: grid;
	grid-template-rows: 15vmin minmax(350px,auto) 10px;
  }
}


/* ********************************** */
/* Main NAVIGATION GRID */
/*Grid-Area: 1st-Row*/
.home {
  grid-area: home;
  text-transform: uppercase; 
  font-weight: bold;
}
.edupreneur {
  grid-area: edupreneur;
  text-align: right;
}
/*Grid-Area: 2nd-Row*/
.about {
  grid-area: about;
}
.skills {
  grid-area: skills;
}
.work {
  grid-area: work;
}
.contact {
  grid-area: contact;
}
/**/
nav > ul {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto)/*repeat(4, auto)*/;
  grid-template-rows: repeat(2, auto);
  /*grid-gap: 0.62em;*/
  justify-content: space-between;
  grid-template-areas: 
    "home home edupreneur edupreneur"
    "about skills work contact";
  /*Stickyness*/
  position: fixed;
  top: 0;
  background-color: #bbb;
  /*Priority View*/
  z-index: 1;
}
/*for Consistent Width*/
ul {width: 81vw;}

/*Highlights Current Section = BROKEN*/
nav > ul > li > a.current {
  background: #ccc;
}

/*Smooth Scroll Effect*/
html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 800px) {
  nav > ul {
    display: grid;
    /*grid-gap: 0.42em;*/
  justify-content: space-around;
  align-items: baseline;
  }
  /*for Consistent Width*/
  ul {width: 80%;}
  /*Titles Flex to Center*/
  .home {justify-self: right;}
  .edupreneur {justify-self: left;}
}




/* CONTENT SUB-GRID */
.subGrid {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
}
@media only screen and (min-width: 800px) {
  .subGrid {
    display: grid;
    grid-template-columns: repeat(2, 49%);  /*repeat(auto-fit, minmax(200px, 1fr))*/
    grid-template-rows: 88vh;
    grid-column-gap: 20px;
  }
}
/* ********************************** */


/* ********************************** */






/* FEATURE QUERY for BROWSER SUPPORT */
@supports (display: grid) {
  .grid > * {
    width: auto;
    margin: 0;
  }
}
/* ********************************** */