/* =========================================================== */
/* ====================== GRID LAYOUTS ======================= */

/* ********************************** */
/* MAIN-TEMPLATE GRID */
.grid {
	margin: 0 8vw;
  padding: 0 auto;
	display: grid;
	grid-template-rows: 10vmin minmax(200px,auto) 10px;
	grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .grid {
	margin: 0 12vw;
  padding: 0 auto;
	display: grid;
	grid-template-rows: 10vmin minmax(400px,auto) 10px;
	grid-gap: 4px;
  }
}

/* Main NAVIGATION GRID */
.home {grid-area: home;}
.about {grid-area: about;}
.portfolio {grid-area: portfolio;}
.contact {grid-area: contact;}
ul.nav {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 12px 8px;
  grid-gap: 0.62em;
  justify-content: space-between;
  grid-template-areas: 
    "home home home"
    "about portfolio contact";
}
.home {
  justify-self: center; 
  text-transform: uppercase; 
  font-weight: bold;
}
@media only screen and (min-width: 800px) {
  ul.nav {
    display: grid;
    grid-template-columns: 6fr repeat(3, 1fr);
    grid-gap: 14px;
    grid-template-areas: 
      "home about portfolio contact";
  }
  .home {justify-self: left;}
}

/* CONTENT SUB-GRID */
.subGrid {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-rows: auto;
}
@media only screen and (min-width: 800px) {
  .subGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 88vh;
    grid-column-gap: 20px;
  }
}
/* ********************************** */

/* ********************************** */
/*Homepage Image*/
img.intro {max-width: 100%; height: auto; }
@media only screen and (min-width: 800px) {
  img.intro {
    margin: 26px 0;
  }
  .introduction {
    text-align: left;
    font-size: 34px;
  }
}
/*Homepage SOCIAL-MEDIA Areas*/
.download {grid-area: download;}
.github {grid-area: github;}
.twitter {grid-area: twitter;}
.email {grid-area: email;}
.phone {grid-area: phone;}
ul.social {
  margin: 16px auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.81rem;
  justify-content: space-between;
  grid-template-areas: 
    "download github twitter email phone";
}
/* ********************************** */

/* ********************************** */
/* SERVICES */
/*.esl {grid-area: esl;}
.edit {grid-area: edit;}
.design {grid-area: design;}
.va {grid-area: va;}*/

.servicesGrid {
  /*text-align: justify;*/
  margin: 4px 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.servicesCard {
  max-width: 100%;
  /*height: 300px;*/
  margin: 4px 0;
}
.servicesCard:hover {
  background-color: #000;
  transition: 0.5s;
  color: #fff;
}
.serviceIntro {
  margin: 8px 0 0 26px;
  font-size: 0.70em;
  text-align: left;
}
.scTitle {
  font-size: 1.2em;
  margin-left: 16px
}
@media only screen and (min-width: 800px) {
  .servicesGrid {
    /*text-align: justify;*/
    margin: 4px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 4px;
  }
  .servicesCard {
    max-width: 100%;
    margin: 14px 0;
  }
  .serviceIntro {
    margin-left: 8px;
    font-size: 0.70em;
    text-align: left;
  }
  .scTitle {
    font-size: 1.2em;
    margin-left: 24px
  }
}
/* ********************************** */



/* ********************************** */
/* PORTFOLIO */
.gallery {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 50px 75px;
  grid-auto-flow: dense;
}
.item:first-child{grid-area: 1 / 1 / span 2 / span 2;}
.item:nth-child(3n){grid-column: 1;}
.item:nth-child(9n){grid-row: span 2;}
.item:nth-child(11n){grid-column: span 2; grid-row: span 2;}
.item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

@media only screen and (min-width: 800px) {
}
/* Tutorial: https://medium.com/deemaze-software/css-grid-responsive-layouts-and-components-eee1badd5a2f */
/* ********************************** */

/* ********************************** */
/* CONTACT */
div.formName {grid-area: name;}
div.formEmail {grid-area: email;}
div.formMSG {grid-area: msg;}
div.formSubmit {grid-area: submit;}
div.form {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
    "name"
    "email"
    "msg"
    "submit";
}
@media only screen and (min-width: 800px) {
  div.form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px auto;
    grid-template-areas: 
      "name email"
      "msg msg"
      "submit submit";
    grid-gap: 2px;
  }
}
/* ********************************** */

/* FEATURE QUERY for BROWSER SUPPORT */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}
/* ********************************** */