/* GRID-LINES for TESTING 'ONLY' */
/** {outline: 1px solid red;}
h1, h2, h3, h4, h5, h6  {outline: 4px solid black;}
p {outline: 2px solid green;}
ul, ol {outline: 3px dashed purple;}
li {outline: 1px dashed purple;}
a  {outline: 2px dashed gold;}
blockquote, div {outline: 1px solid purple;}*/

/* ============================================ */
/* CASCADING STYLESHEET ======================= */
/*
      1.  Global NAVIGATION
      2.  UNIVERSAL Styles
      3.                
      4.  
      5.  
      6.  
      7.  
      8.  
      9.  
      10.                             */
/* ============================================ */



/* ============================================ */
/* 1. Global NAVIGATION ======================= */
/* ============================================ */
  /* Page ALIGNMENT */
.topnav {
  overflow: hidden;
}
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 8px 0;
  padding: 0 0.2em;
  text-decoration: none;
  font-size: 1.5em;
  border-bottom: none;
}
.topnav a:first-child {float: right;}
.topnav a:hover {
  /*background-color: red;
  color: black;*/
	transition-duration: 0.8s;
}
header {
  margin: 0;
  border-radius: 0 0 8px 8px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  z-index: 100;
}
header.topnav > .active {
  color: white;
  /*margin-right: 7.58em;*/  /* Fixed to <body> 'margin' @ min-width 800px */
}
.topnav .icon {
  display: none;
}
fa-home {
  padding-right: 75px;
}
@media screen and (max-width: 800px) {
  .topnav a {font-size: 1em;}
  .topnav a:first-child {float: left;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .fa-home, .fa-bars {color: #fff;}
}
/* ******************************************** */
/* ****Header PERFECTLY Aligned with <body>**** */
/* ============================================ */




/* ============================================ */
/* 2. UNIVERSAL BASE STYLES =================== */
/* ============================================ */

/* Universal Layout Containment */
html {box-sizing: border-box;} 
/*  html { font-size: min(max(16px, 4vw), 22px); }    Fluid-Type*/
*:before, *:after {box-sizing: inherit;} 
/* Smooth Scroll Effect + Remove Browser Scroll */
html {
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
/**/
body {
  height: 100%;
  margin: 0 1em;
  padding: 0;
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
}
/**/
main {}                   /* 'PHP' Container */
/**/
footer  {
  margin: 4px 0;
  text-align: center;
  font-size: 14px; 
  /*color: #838487;*/
  /*Sticky
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;*/
}
@media all and (min-width: 800px){
  body {margin: 8em;}
   /* body {display: none;}        HIDE Site on 'Desktop' */
  /*article {margin: 0 1.21em;}  Page-Alignment */
}
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* Prevent 'User CopynPaste' for Safari, Firefox and IE */
* {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
a {
  text-decoration: none;
  color: #000;
  /*  Text-Decoration Color + Underline Offset + TD Thickness*/
  border-bottom: #000 0.044em dashed;
}
a:hover {opacity: 0.7;}
address {
  margin: 0 0 0.4em 0;
  color: red;
  font-size: 0.6em;
  font-family: cursive;
  text-align: center;
}
blockquote {
  text-align: center;
}
code, p code {
  background: #dddada; 
  border-radius: 5px;
  color: #000;
  font-family: monospace;
  font-size: 0.84em;
  font-weight: bold;
  letter-spacing: .8;
}
details {margin: 0 4px; font-size: 0.8em;}
dialog::backdrop {
  background: rgba(255,0,0,.25);
}
figure {margin: 0; padding: 0;}
figcaption {
  font-size: 0.80em;
  font-style: italic;
  text-align: center;
}
.title {text-align: center;}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: bolder;
  font-variant: small-caps;
}
h2, h3, h4, h5, h6 {margin-bottom: -0.44em;}
h2 {background-color: #444; color: #fff;}
h3 {background-color: #7b7b7b;}
h4 {background-color: #bebdbf;}
h5 {background-color: gold;}
/* ********* ********  */
h1 {font-size: calc(1.2rem + 2.4vw);}  
hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: visible;
  text-align: center;
}
hr:after { 
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}
/* Highlights 'Terminology' => DO NOT EDIT ~or~ REMOVE */
i {
  color: #000;
  font-variant: small-caps;
  font-weight: bold;
} 
p, mark, summary { 
  font-size: calc(0.96rem + 0.02vw);
  line-height: 1.248; 
  /*text-align: justify;*/
}
/* 'Dim' TEXT-Color Styles */
p, ol {color: #444;}
/* <ol> used for 'List of Contents' */
ol {
  font-size: 0.88em;
  margin-left: 0;
  padding-left: 1.2em;
}
ol > ul {
  margin-left: 0;
  padding-left: 1.2em;
}
ol.alpha {list-style-type: lower-alpha;}
@media all and (min-width: 800px) {  
  body {margin: 0 5.3em;}
  code, p code, details {font-size: 1em;}
  figure {margin: 0;}
  h2, h3, h4, h5, h6 {margin-bottom: 0.2em;}
  p {font-size: 1.1em; margin: 0.25em 0.55em 0.25em 0.25em;}
  ol {
    font-size: 1em; 
    padding-left: 80px;
  }
}
/* ============================================ */
/* ============================================ */

/* GRID: 2-COL Mobile => 3-Col PC 
   Used for 'dialog' on 'journal/semantic-markup'
*/
.block {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto, minmax(24px, auto));	
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}
.blockCard {
  margin: 0;
  padding: 0;
  border: 1px solid #444;	
}
.blockCard p {margin: 2px;}
.card {
  margin: 6px;
  padding: 8px;
  border: 1px solid #838487;
  text-align: center;
}
@media only screen and (min-width: 800px){
  .block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	
    grid-template-columns: repeat(3, 1fr);   
    grid-gap: 2px; 
  }
  .blockCard {
    margin: 2px 8px;
    padding: 0;
  }
}


/* Lines 245 - 274 are for Styling Markup with CSS */
.declarations {
  width: 100%;
   margin: -1em 0 1em 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto, minmax(24px, auto));	
  grid-template-columns: max-content auto;
  grid-column-gap: 0.4em;
}
.declarations span {font-size: 0.71em;}
@media all and (min-width: 800px) {
	.declarations {
    margin: 0.25em 0.55em 1em 0.25em;
    width: 100%;
    /*font-size: 0.74em;*/
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
  .declarations span {font-size: 1em;}
}
/**********************/

/* ============================================ */
/* ============================================ */
/* Lines 276 - 352 are for 'Semantic Markup'    */
/*   GLOSSARY GRID    */
.glossary {
   width: 100%;
   /*font-size: 0.80em;*/
   margin: 0 auto;
   padding: 0;
   display: grid;
   grid-template-rows: repeat(auto, 24px);
   grid-template-columns: 4.2em 1fr;
   grid-gap: 8px;
 }
.glossary div:nth-child(even) {font-size: .88em;}
.glossary div:nth-child(odd) {font-size: 1em;}

/*Unicode Character Grid*/
.characterGrid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, auto));
  grid-template-rows: auto;
  grid-gap: 4px;
}
@media only screen and (min-width: 800px) {
  .characterGrid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
  }
}
/*Unicode <div> Style*/
.asciiItem {
  background: #dddada;
  text-align: center;
}
/*Unicode 1st Row*/
.asciiItemChar {
  font-size: 1.5em;
}
/**//*******************************//**/
/*
@media all and (min-width: 500px) {
  address {color: red;}
  p {margin: 0.25em 0.55em 0.25em 0.25em;}
  code {font-size: 0.88em;}
  details {margin: 0 4px; font-size: 1em;}
}
@media all and (max-width: 500px) {
  figure {margin: 0; padding: 0;}
  details {margin: 0 4px; font-size: 0.8em;}
}*/




.table {margin: 2px 6px;}

/*Hide on Mobile >> Display in Desktop*/
.hideMobile, span.hideMobile {display: none;}
.hideDesktop, span.hideDesktop {display: contents;}
/**/
@media only screen and (min-width: 800px) {
  .hideMobile, span.hideMobile {display: contents;}
  .hideDesktop, span.hideDesktop {display: none;}
}
/**//*******************************//**/
/**//*******************************//**/




/* ============================================ */
/* 3. IMAGES + BUTTONS + CARDS + TABLES ======= */
/* ============================================ */
img { /* Default */
  display: block;
  max-width: 100%;
  width: 100%;
}
.mainImage { /* Custom */
  max-width: 100%;  
  width: 100%; 
  height: auto;
  margin: 0;
}
.imgL {
  float: left;
  margin: 4px 16px 0 0;
  width: 35%;
  height: auto;
  border-radius: 8px;
}  
.imgR {
  float: right;
  margin: 7px 0 0 7px;
  width: 34%;
  height: 32vh; 
  border-radius: 8px;
} 
@media all and (min-width: 800px) {
  .mainImage {  /*Center Image*/
    display: block;
    margin: 1em auto;
    max-height: 23.23em;
    max-width: 32.32em;
  }
  .imgL {
    float: left;
    margin: 5px 20px 0 0;
    width: 35%;
    height: auto; 
    /*border: 2px solid #c41e3a;*/
    border-radius: 2px;
  }
  .imgR {
    float: right;
    margin: 8px 0 0 20px; /*0 0 10px 25px*/
    width: 32%;
    height: auto; 
    /*border: 2px solid #c41e3a;*/
    border-radius: 2px;
  }
}
/**//******************************************//**/
/* Buttons w/ 'Ripple-Effect' ==== */
.btn {
  background-position: center;
  transition: background 0.8s;
}
.btn:hover {
  background: #222 radial-gradient(circle, transparent 1%, #111 1%) center/15000%;
}
.btn:active {
  background-color: #333;
  background-size: 100%;
  transition: background 0s;
}
a.btn {
  border: none;
  border-radius: 2px;
  margin: 0.4em 0; 
  padding: 0.44em 0.88em;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #000;
  box-shadow: 0 0 4px #fff;
  outline: none;
}
p.btn {
  height: 100%;
  text-align: center;
  border: 2px solid #000;
}
@media only screen and (min-width: 800px) {
  .btn {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 250px;
    height: 44px;
  }
}
/**//******************************************//**/

