/* GRID-LINES for TESTING 'ONLY' */
* {outline: 1px solid red;}
h1, h2, h3, h4, h5, h6  {outline: 4px solid black;}
p {outline: 2px solid green;}
ul, ol {outline: 3px dashed purple;}
li {outline: 1px dashed purple;}
a  {outline: 2px dashed gold;}
blockquote, div {outline: 1px solid purple;}

/* Prevent 'User CopynPaste = * {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
for Safari, Firefox and IE
*/
/* ============================================ */
/* CASCADING STYLESHEET ======================= */
/*
      1.  Global NAVIGATION
      2.  UNIVERSAL Styles
      3.                
      4.  
      5.  
      6.  
      7.  
      8.  
      9.  
      10.                             */
/* ============================================ */



/* ============================================ */
/* 1. Global NAVIGATION ======================= */
/* ============================================ */
  /* Page ALIGNMENT */
.topnav {
  overflow: hidden;
}
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 8px 0;
  padding: 0 0.2em;
  text-decoration: none;
  font-size: 1.5em;
  border-bottom: none;
}
.topnav a:first-child {float: right;}
.topnav a:hover {
  /*background-color: red;
  color: black;*/
	transition-duration: 0.8s;
}
header {
  margin: 0;
  border-radius: 0 0 8px 8px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  z-index: 100;
}
header.topnav > .active {
  color: white;
  /*margin-right: 7.58em;*/  /* Fixed to <body> 'margin' @ min-width 800px */
}
.topnav .icon {
  display: none;
}
fa-home {
  padding-right: 75px;
}
@media screen and (max-width: 800px) {
  .topnav a {font-size: 1em;}
  .topnav a:first-child {float: left;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* ******************************************** */
/* ****Header PERFECTLY Aligned with <body>**** */
/* ============================================ */




/* ============================================ */
/* 2. UNIVERSAL BASE STYLES =================== */
/* ============================================ */

/* Universal Layout Containment */
html {box-sizing: border-box;} 
*:before, *:after {box-sizing: inherit;} 
/* Smooth Scroll Effect + Remove Browser Scroll */
html {
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
/**/
body {
  height: 100%;
  margin: 0 1em;
  padding: 0;
  /*font-size: calc(1.01em + 1.01vw); */
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
}
main {}                   /* 'PHP' Container */
footer  {
  margin: 4px 0;
  text-align: center;
  font-size: 14px; 
  /*color: #838487;*/
  /*Sticky
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;*/
}
@media all and (min-width: 800px){
  body {margin: 8em;}
   /* body {display: none;}        HIDE Site on 'Desktop' */
  /*article {margin: 0 1.21em;}  Page-Alignment */
}
/**/
a {
  text-decoration: none;
  color: inherit;
  /*  Text-Decoration Color + Underline Offset + TD Thickness*/
  border-bottom: #ccc 0.088em dashed;
}
a:hover {opacity: 0.7;}
address {
  margin: 0 0 0.4em 0;
  color: red;
  font-size: 0.6em;
  font-family: cursive;
  text-align: center;
}
blockquote {text-align: center;}
code {
  background: #ccc; 
  border-radius: 5px;
  font-family: monospace;
  font-size: 0.84em;
  font-weight: bold;
  letter-spacing: .8;
}
details {margin: 0 4px; font-size: 0.8em;}
figure {margin: 0; padding: 0;}
figcaption {
  font-size: 0.80em;
  font-style: italic;
  text-align: center;
}
.title {text-align: center;}
h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  font-variant: small-caps;
}
hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: visible;
  text-align: center;
}
hr:after { /*rgba(255, 0, 0, 0.8)*/
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}
/* Highlights 'Terminology' => DO NOT EDIT ~or~ REMOVE */
i {
  color: #111;
  font-variant: small-caps;
  font-weight: bold;
} 
em {font-size: .90em;}
p { 
  color: #444;
  font-size: 0.90em; /*0.88em;*/
  line-height: 1.248; margin: 0;
}
/**/
ol {font-size: 0.88em;}
ol.alpha {list-style-type: lower-alpha;}
@media all and (min-width: 800px) {  
  body {margin: 0 5.3em;}
  code {font-size: 1em;}
  figure {margin: 0;}
  em {font-size: 1em;}
  p {font-size: 1.1em; margin: 0;}
}
/* ============================================ */
/* ============================================ */


.tableEven {
  width: 100%;
  /*font-size: 0.68em;*/
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto, minmax(24px, auto));	
  grid-template-columns: max-content auto;
  grid-column-gap: 0.4em;
}
h5 {margin-bottom: 4px;}/*2px*/
p, .tableEven {margin-bottom: 2px;}
.tableEven span {font-size: 0.71em;}
@media all and (min-width: 800px) {
	.tableEven {
    width: 100%;
    /*font-size: 0.74em;*/
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
}
/* ============================================ */
/* ============================================ */





/* ============================================ */
/* 3. IMAGES + BUTTONS + CARDS + TABLES ======= */
/* ============================================ */
img { /* Default */
  display: block;
  max-width: 100%;
  width: 100%;
}
.mainImage { /* Custom */
  max-width: 100%;  
  width: 100%; 
  height: auto;
  margin: 0;
}
.imgL {
  float: left;
  margin: 4px 16px 0 0;
  width: 35%;
  height: auto;
  border-radius: 8px;
}  
.imgR {
  float: right;
  margin: 7px 0 0 7px;
  width: 34%;
  height: 32vh; 
  border-radius: 8px;
} 
@media all and (min-width: 800px) {
  .mainImage {  /*Center Image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 85%;*/
    max-height: 200px;
  }
  .imgL {
    float: left;
    margin: 5px 20px 0 0;
    width: 35%;
    height: auto; 
    /*border: 2px solid #c41e3a;*/
    border-radius: 2px;
  }
  .imgR {
    float: right;
    margin: 8px 0 0 20px; /*0 0 10px 25px*/
    width: 32%;
    height: auto; 
    /*border: 2px solid #c41e3a;*/
    border-radius: 2px;
  }
}
/*
**//******************************************//**
*/
/* Buttons w/ 'Ripple-Effect' ==== */
.btn {
  background-position: center;
  transition: background 0.8s;
}
.btn:hover {
  background: #222 radial-gradient(circle, transparent 1%, #111 1%) center/15000%;
}
.btn:active {
  background-color: #333;
  background-size: 100%;
  transition: background 0s;
}
a.btn {
  border: none;
  border-radius: 2px;
  margin: 0.4em 0; 
  padding: 0.44em 0.88em;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #000;
  box-shadow: 0 0 4px #fff;
  outline: none;
}
p.btn {
  height: 100%;
  text-align: center;
  border: 2px solid #000;
}
@media only screen and (min-width: 800px) {
  .btn {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 250px;
    height: 44px;
  }
}
/*
**//******************************************//**
*/

