/* GRID-LINES for TESTING 'ONLY'
section {outline: 1px solid red;}
h1, h2, h3, h4, h5, h6  {outline: 4px solid black;}
p {outline: 2px solid green;}
article {outline: 3px dashed purple;}
a  {outline: 2px dashed gold;} */

/* ============================================ */
/* 2. UNIVERSAL BASE STYLES =================== */
/* ============================================ */

/* Universal Layout Containment */
* {box-sizing: border-box;}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-size: min(max(16px, 4vw), 22px); 
}
/**/
/* Smooth Scroll Effect + Remove Browser Scroll */
html {
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
/**/
body {
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
}
/**/
main {margin: 0; padding: 0;}  /*'PHP' Container*/
/**/
footer  {
  margin: 4px 0 0 0;
  background-color: #8d1a1d;
  color: #fff;
  font-size: 1em; 
  font-weight: 800;
  text-align: center;
  
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2em;
}
@media all and (min-width: 800px){
  main {margin: 0 4em;}
}
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++ */
section {margin: 0;}
article {margin: 0.5em 0;}

/* ****HERO Opener**** */
.hero {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  /*opacity: 0.6;
  background: #1a1a1a;
  background: radial-gradient(circle at top, #CC774D, #1a1a1a);*/
}
.content {
  margin: 0;
  max-width: 100%;
  padding: 1em;
  color: #8d1a1d;
  text-align: center;
  z-index: 1;
}
.specialMSG {
  text-align: left; 
  margin-bottom: 0;
}
.content h1 {
  margin: 0;
  font-size: 1.34em;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 1.125;
  text-align: center;
}
.content p { margin: 0.2em 0 0;letter-spacing: 0.8px;}
/* B.Butler Introduction */
.bButlerIntro {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
}
.blair {
  margin: 1em 0;
  height: 225px;
  background-image: url(https://hips.hearstapps.com/vidthumb/f08b86a5-1f08-4b22-b9cd-ab26259a059b/f08b86a5-1f08-4b22-b9cd-ab26259a059b_image.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.butler {margin: -1em 0.4em 0;}
@media all and (min-width: 800px){
  .hero {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1em;
  }
  .content {
    /*position: relative;
    top: 28%;*/
    margin: 0;
    padding: 0;
  }
  .specialMSG {text-align: center;}
  h1 {font-size: 2em;}
  /******************/
  .bButlerIntro {
    margin: 0 0.8em;
    padding: 0;
    display: grid;
    grid-template-columns: 48vw auto;
    grid-column-gap: 1em;
  }
  .blair {
  height: 100%;
  width: 100%;}
  .butler {
    margin: 0;
    font-size: 0.94em; 
    text-align: justify;
  }
}

/* Vision Image Gallery */
.visionImageGrid { 
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 4px;
  align-items: start;
  justify-items: center;
  margin: 0;
  max-width: 100%;
  }
.visionImageGrid img {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
  height: 200px;
}
@media all and (min-width: 800px){ 
.visionImageGrid { 
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
/*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
  grid-template-rows: 1fr;
  grid-gap: 4px;
  align-items: start;
  justify-items: center;
  margin: 0;
  max-width: 100%;
  }
}
  
  
/***********************/
/* *Donation Section*  */
.donate {
  margin: 1em 0;
  display: grid;
  grid-auto-flow: row dense;
}
.donate__btn {
  padding: 0 10vw;
  width: 100%;
  background-color: #8d1a1d;
  color: #a89ea4;
  font-size: 2em;
  font-variant: small-caps;
  text-align: center;
  
}
.donation__amount {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(6, minmax(53px, max-content));
  grid-template-rows: 2em;
  grid-gap: 0.4em;
  justify-content: center;
}
.donation__payment {
  margin: 0.50;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 100px));
  grid-template-rows: 16vh;
  grid-column-gap: 2em;
  justify-content: center;
}
.donation__amount button, 
.donation__payment button {
  background-color: #fff;
  color: #8d1a1d;
  font-weight: 700;
  border: 2px solid #8d1a1d;
  border-radius: 4px;
}
.donation__amount button:hover{
  background-color: #8d1a1d;
  color: #fff;
  border: 2px solid #a89ea4;
}
.donation__amount button:focus{
  background-color: #a89ea4;
  color: #8d1a1d;
  outline: none;
}
.donation__payment button {
  height: 80px; width: 80px;
  border-radius: 50%;
}
/* Button Select */
.donation__amount button {}



/***********************/
/* INFORMATIONAL Row */
.wrapper {
  margin: 0.5em auto;
  width: 96%;
  max-width: 1120px;
}

/*.infoRow {padding: 1em 0;}*/
.info__title {
  color: #8d1a1d;
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  margin: 8px 0;
  text-align: center;
}
.infoRow__intro {
  display: block;
  text-align: center;
  margin: 0 5% 30px;
}
@media only screen and (min-width: 43.75em) {
  .wrapper {margin: 0;}
  .infoRow__intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}


.info__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.infoBox {
  display: flex;
  flex: 1 0 100%;
  background: #d1c5c5;
}
.info__title {font-family: "Montserrat", sans-serif;}
.info__content {
  text-align: center;
  padding: 1em;
}
.info__content p {text-align: justify;}
.info__content > i {color: #8d1a1d;}
@media only screen and (min-width: 43.75em) {
  .infoRow {padding: 60px 0;}
  .infoBox {flex: 0 0 30%;}
  .info__content p {font-size: 0.90em; text-align: left;}
}
/***********************/



/* ============================================ */
img { /* Default */
  display: block;
  max-width: 100%;
  width: 100%;
}
.mainImage { /* Custom */
  max-width: 100%;  
  width: 100%; 
  height: auto;
  margin: 0;
}
@media all and (min-width: 800px) {
  /*img { 
    display: block;
    margin: 0 auto;
    max-height: 23.23em;
    max-width: 32.32em;
  }*/
}

