/* GRID-LINES for TESTING 'ONLY' */
* {outline: 1px solid red;}
h1, h2, h3, h4, h5, h6  {outline: 4px solid black;}
p {outline: 2px solid green;}
article {outline: 3px dashed purple;}
a  {outline: 2px dashed gold;}

/* ============================================ */
/* 2. UNIVERSAL BASE STYLES =================== */
/* ============================================ */

/* Universal Layout Containment */
* {box-sizing: border-box;}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-size: min(max(16px, 4vw), 22px); 
}
/**/
/* Smooth Scroll Effect + Remove Browser Scroll */
html {
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
/**/
body {
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
}
/**/
main {margin: 0; padding: 0;}  /*'PHP' Container*/
/**/
footer  {
  margin: 4px 0 0 0;
  text-align: center;
  font-size: 14px; 
  background-color: #838487;
  
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
}
@media all and (min-width: 800px){
  main {margin: 0 4em;}
}
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++ */



.hero {
  margin: 0;
  display: grid;
  grid-template-rows: 36vh 35vh ;
  /*opacity: 0.6;
  background: #1a1a1a;
  background: radial-gradient(circle at top, #CC774D, #1a1a1a);*/
}
/*
.heroImage {
  background-image: url(../img/projectImages/logo2.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}*/
.content {
  margin: 0 1em;
  max-width: 100%;
  position: relative;
  top: 20%;
  padding: 1em;
  text-align: center;
  z-index: 1;
}
h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bolder;
  font-variant: small-caps;
  letter-spacing: 2px;
  line-height: 1.125;
  text-align: center;
}
p {
  position: relative;
  letter-spacing: 0.8px;
}
@media all and (min-width: 800px){
  .hero {
    display: grid;
    grid-template-rows: repeat(2, 35vh);
  }
  .content {
    top: 50%;
  margin: 0 8em;
  }
  h1 {font-size: 2em;}
}

/* ============================================ */
img { /* Default */
  display: block;
  max-width: 100%;
  width: 100%;
}
.mainImage { /* Custom */
  max-width: 100%;  
  width: 100%; 
  height: auto;
  margin: 0;
}
@media all and (min-width: 800px) {
  img { /*Center Image*/
    display: block;
    margin: 0 auto;
    max-height: 23.23em;
    max-width: 32.32em;
  }
}

