/* GRID-LINES for TESTING 'ONLY' ==> {outline: 1px solid red;}*/

/* ============================================ */
/* CASCADING STYLESHEET ======================= */
/*
      1.  Global NAVIGATION + Pagination
      2.  UNIVERSAL Styles
      3.  Grids              
      4.  Images + Buttons                      */
/* ============================================ */


/* ============================================ */
/* 1a. Global NAVIGATION ====================== */
/* ============================================ */
header {
  margin: 0; 
  padding: 0 5em;   /* Aligns with <article> Containers */
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); 
  z-index: 100;
}
.fa-home, .fa-bars {color: #fff;}
@media screen and (max-width: 800px) {header {padding: 0 1em;}}
/* Desktop <nav> */
nav ul {
  display: grid;
  grid-template-columns: 44vw repeat(3, 12.41vw);
  grid-column-gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
nav ul li {
  position: relative;
  display: inline-block;
}
nav ul li:hover > ul {display: inherit;}
nav ul li:hover > ul li {display: list-item;}
nav ul li a {
  display: block; 
  border-bottom: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  /* optional: submenu is same width than parent entry width */
  min-width: 100%;
  /* optional: submenu background color */
  background-color: #aaa; 
}
nav ul li ul ul {
  left: 100%;
  top: 0;
}
/* Menu Link Styles */
/*nav {background: linear-gradient(to right, #434343 0%, black 100%);}*/
nav ul li:hover {background-color: #888;}
nav ul li:first-child:hover {background-color: transparent;}
nav ul li a {
  color: #fff;
  font-size: 1.4em;
  font-variant: small-caps;
  text-decoration: none;
  margin: 0;
  padding: 0.8em; 
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2); 
  color: #fff;
  text-decoration: none;
}
nav ul li > a:after {
  content: ' +';
  margin-left: 0.124em;
}
nav ul li > a:only-child:after {content: '';}
nav ul li ul li a {
  font-size: 1em; 
  padding: 8px 0 8px 1em;
}
/* Mobile Responsive */
@media (max-width: 980px) {
  nav ul {display: inherit; padding: 0;}
  nav ul:first-child:before {
    font-family: "FontAwesome";
    content: "\f0c9";
    font-size: 1.5em;
    display: block;
    padding: 0.4884em 0;
    color: #fff;
    text-align: right;
  }
  nav ul li:first-child:hover {background-color: #888;}
  nav ul:active li, ul:focus li, ul:hover li {display: list-item;}
  nav ul li {
    display: none;
    background-color: #aaa;
  }
  nav ul li a {padding: 0.2em 0.5em;}
  nav ul li ul {
    position: relative;
    min-width: auto;
    display: inherit;
    border-top: 2px solid #999;
  }
  nav ul li ul li {display: block;}
  nav ul li ul li a {position: relative;}
  nav ul li ul li a:before {
    content: '';
    padding-left: 1.5%;
  }
  nav ul li ul li ul {left: 0;}
}
/* ******************************************** */
/* ****Header PERFECTLY Aligned with <body>**** */
/* ============================================ */


/* ============================================ */
/* 1b. PAGINATION ============================= */
section.caseCenter {
  text-align: center;
  margin: 0.8em 0 1em 0;
}
section.caseCenter ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section.caseCenter ul.pagination {text-align: center;}
section.caseCenter ul.pagination li {
  display: inline-block;
  text-align: center;
}
section.caseCenter ul.pagination li a {
  color: #000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  padding: 0 16px;
}
section.caseCenter ul.pagination li.active {background-color: #ddd;}
/* ============================================ */
/* ============================================ */


/* ============================================ */
/* 2. UNIVERSAL BASE STYLES =================== */
/* ============================================ */

/* Universal Layout Containment */
html {box-sizing: border-box;} 
*:before, *:after {box-sizing: inherit;} 
/* Prevent 'User CopynPaste' */
main {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
/**/
/* Smooth Scroll Effect + Remove Browser Scroll */
html {
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
/**/
body {
  height: 100%;
  margin: 0;
  padding: 0;
	font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
}
/**/
main {}                   /* 'PHP' Container */
/* Page-Alignment => REQUIRED for Full-Width Images
   Images 'MUST' be placed 'Outside of Section or Article' */
section {}                /* 'HTML' Containers */
aside {}                  /* Container for Full-Width <img>*/
article {margin: 0 0.4em}   /* Container for 'Content' */
/**/
footer  {
  margin: 0.8em 0 0 0;
  padding: 8px 0;
  text-align: center;
  font-size: 14px;   
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); 
  color: #fff;
  /*Sticky
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;*/
}
@media all and (min-width: 800px){main {margin: 0 4em;}}
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++ */
a {
  text-decoration: none;
  color: #000;
  /*  Text-Decoration Color + Underline Offset + TD Thickness*/
  border-bottom: #000 0.044em dashed;
}
a:hover {opacity: 0.7;}
blockquote {margin: -1em 0 1em 0; text-align: center;}
blockquote code {font-size: 1em;}   /*<code> for Blockquote's*/
code, p code {
  background: #dddada; 
  border-radius: 5px;
  color: #000;
  font-family: monospace;
  font-size: 0.84em;
  font-weight: 600;
  letter-spacing: .8;
}
.glossary div code {font-size: 1.2em;}  /*<code> for Resources Page*/
/**/
details {margin: 0 4px; font-size: 0.8em;}
dialog::backdrop {
  background: rgba(255,0,0,.25);
}
figure {margin: 0; padding: 0;}
figcaption {
  font-size: 0.80em;
  font-style: italic;
  text-align: center;
}
.title {text-align: center;}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: bolder;
  font-variant: small-caps;
}
h2, h3, h4, h5, h6 {margin-bottom: -0.44em; color: #fff;}
h2 {background-color: #444; }
h3 {background-color: #7b7b7b;}
h4 {background-color: #bebdbf;}
h5 {background-color: gold;}
/* ********* ********  */
h1 {font-size: calc(1.2rem + 2.4vw);}  
hr {
  background-image: linear-gradient(to right, rgba(10, 9, 9, 0.0), rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.0));
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: visible;
  text-align: center;
}
hr:after { 
  background: rgba(192, 192, 192, 0.6);
  content: ' \00A7';
  border: 1px dotted rgba(10, 9, 9, 0.7);
  border-radius: 50%;
  display: inline-block;
  font-size: 0.8em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}
/* Highlights 'Terminology' */
i {
  color: #000;
  font-variant: small-caps;
  font-weight: bold;
} 
p, i, mark, summary { 
  font-size: calc(0.96rem + 0.02vw);
  line-height: 1.248; 
}
/* 'Dim' TEXT-Color Styles */
p, ol {color: #444;}
/* <ol> used for 'List of Contents' */
ol {
  font-size: 0.88em;
  margin-left: 0;
  padding-left: 1.2em;
}
ol > ul {
  margin-left: 0;
  padding-left: 1.2em;
}
ol.alpha {list-style-type: lower-alpha;}
@media all and (min-width: 800px) {  
  main {margin: 0 5.3em;}
  code, p code, details {font-size: 1em;}
  details{font-size: 1.2em;}
  figure {margin: 0;}
  h2, h3, h4, h5, h6 {margin-bottom: 0.2em;}
  p {font-size: 1.1em; margin: 0.25em 0.55em 0.25em 0.25em;}
  ol {
    font-size: 1em; 
    padding-left: 80px;
  }
}
/* ============================================ */
/* ============================================ */
/* Mobile 2-COL Grid (3-Col on PC) */
.block {
  width: 100%;
  margin: -1em 0 1em 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto, minmax(24px, auto));	
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}
.block span {font-size: 0.88em;}
.blockCard {
  margin: 0;
  padding: 0;
  border: 1px solid #444;	
}
.blockCard p {margin: 2px;}
.card {
  margin: 6px;
  padding: 8px;
  border: 1px solid #838487;
  text-align: center;
}
@media only screen and (min-width: 800px){
  .block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, minmax(24px, auto));	
    grid-template-columns: repeat(3, 1fr);   
    grid-gap: 2px; 
  }
  .blockCard {
    margin: 2px 8px;
    padding: 0;
  }
}
/**//****************************************//**/
/**/
/* 2-COL Variable-Responsive 2-COL Grid */
.declarations {
  width: 100%;
  margin: -1em 0 1em 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto, minmax(24px, auto));	
  grid-template-columns: max-content auto;
  grid-column-gap: 0.4em;
}
.declarations span {font-size: 0.71em;}
@media all and (min-width: 800px) {
	.declarations {
    margin: 0.25em 0.55em 1em 0.25em;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: minmax(300px, max-content) auto;
    grid-gap: 0 1em;
  }
  .declarations span {font-size: 1em;}
}
/**//****************************************//**/
/**/
/* Multi-COL Unicode Character Grid */
.characterGrid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, auto));
  grid-template-rows: auto;
  grid-gap: 4px;
}
/*Unicode <div> Style*/
.asciiItem {
  background: #dddada;
  text-align: center;
}
/*Unicode 1st Row*/
.asciiItemChar {font-size: 1.5em;}
@media only screen and (min-width: 800px) {
  .characterGrid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
  }
}
/**//****************************************//**/


/* ============================================ */
/* ============================================ */
/* RESOURCES GRID */
.resSyntax {grid-area: syntax;}
.resContent {grid-area: contentRes;}
.resLayout {grid-area: layout;}
.resStyles {grid-area: styles;}
.resSnippets {grid-area: snippets;}
.resHelp {grid-area: helpRes;}
.resManage {grid-area: manage;}
.resTools {grid-area: tools;}
.resourceGrid {
  margin: -1em 0 0 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(22px, auto);
  grid-template-areas:
    "syntax contentRes"
    "layout styles"
    "snippets helpRes"
    "manage tools";
  grid-gap: 0 1em;
}
.resourceGrid div h3 { 
  margin-bottom: 0.4em;/*0*/
  background-color: #222;
  color: #fff;
  text-align: center;
}
.resourceLink {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.84em;
  grid-gap: 0.48em;
}
@media only screen and (min-width: 800px) {
  .resourceGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 22px);
    grid-template-areas:
      "syntax contentRes layout styles"
      "snippets helpRes manage tools";
  grid-gap: 1em;
  }  
  .resourceLink {grid-gap: 0.84em;}
}
/* WebDesign/resources 'Glossary GRID' */
.glossary {
   width: 100%;
   margin: 0 auto;
   padding: 0;
   display: grid;
   grid-template-rows: repeat(auto, 24px);
   grid-template-columns: auto 1fr; /* auto was 6.2em*/
   grid-gap: 8px;
 }
@media only screen and (min-width: 800px) {
  .glossary {
    display: grid;
    grid-template-rows: repeat(auto, 24px);
    grid-template-columns: 8em 1fr;
    grid-gap: 0.4em;    
  }
}
/* ============================================ */
/* ============================================ */


/* ============================================ */
/*  IMAGES + BUTTONS + CARDS  ================= */
/* ============================================ */
img { /* Default */
  display: block;
  max-width: 100%;
  width: 100%;
}
.mainImage { /* Custom */
  max-width: 100%;  
  width: 100%; 
  height: auto;
  margin: 0;
}
@media all and (min-width: 800px) {
  .mainImage {  /*Center Image*/
    display: block;
    margin: 1em auto;
    max-height: 23.23em;
    max-width: 32.32em;
  }
}
/**//******************************************//**/
/* Buttons w/ 'Ripple-Effect' ==== */
.btn {
  background-position: center;
  transition: background 1.8s;
}
.btn:hover {
  background: #222 radial-gradient(circle, transparent 1%, #111 1%) center/15000%;
}
.btn:active {
  background-color: #333;
  background-size: 100%;
  transition: background 0s;
}
a.btn {
  border: none;
  border-radius: 2px;
  margin: 0.4em 0; 
  padding: 0.44em 0.88em;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #000;
  box-shadow: 0 0 4px #fff;
  outline: none;
}
p.btn {
  height: 100%;
  text-align: center;
  border: 2px solid #000;
}
@media only screen and (min-width: 800px) {
  .btn {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 250px;
    height: 44px;
  }
}
/**//******************************************//**/
/*Hide on Mobile >> Display in Desktop*/
.hideMobile, span.hideMobile {display: none;}
.hideDesktop, span.hideDesktop {display: contents;}
/**/
@media only screen and (min-width: 800px) {
  .hideMobile, span.hideMobile {display: contents;}
  .hideDesktop, span.hideDesktop {display: none;}
}
/**//******************************************//**/

