/***************************************/
/************ GLOBAL STYLES ************/
/***************************************/

/************   ************/
/***************************************/


/********************/
/* Main Navigation */
.navbar {
  background: #fff;
}
div.slide-left {
  width: 100%;
  overflow: hidden;
}
div.slide-left h1 {
  animation: slide-left 10s;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


/* Footer *


/****************************************/
/*BTNs for About.html 'Services'*/
.btn-outline-dark:hover {
  color: #fff;    /*Black Text on 'Hover'*/
  box-shadow: inset 0 0 0 5px #000;  /*Border Inset*/
} 
/***************************************/
/*BTN 'Transitions' on 'Services Cards*/
.special {
  transition: all 0.3s;
  cursor: pointer;
}
.special span {
  cursor: crosshair;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.special span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.special:hover span {
  padding-right: 25px;
}
.special:hover span:after {
  opacity: 1;
  right: 0;
}
/*Code Offered @ https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1*/
/*More examples at https://freebiesupply.com/blog/css-button-hoever-effects/*/
/***************************************/





/***************************************/
/* ********** HOME PAGE ************** */
/***************************************/


/*Jumbotron Background Image for index.html*/
.jumbotron {
  width: 100%;
  height: 550px; /* Use % or ###px Value*/
  background-image: url(img/seoul.png);
  background-repeat: no-repeat;
  /*background-position: 200% 100%;
  padding: 200px 0 140px 0;*/
  margin-bottom: -1px;
  background-size: cover; 
  background-attachment: fixed;*/
}
.languageSelection {
  margin-top: 100px;
}
.languageSelection h4 {
  color: #fff;
}




/****************************************/
/* ********** ABOUT PAGE ************** */
/****************************************/

/*Parallax Styles for 中国人 HOME zh.html*/
.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.parallaxBG {
  width: 100%;
  height: 500px;
  background: url(img/wuzhen.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% top;
  background-attachment: fixed;
}
.parallaxBG2 {
  width: 100%;
  height: 500px;
  background: url(img/knowledge.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% top;
  background-attachment: fixed;
}
.parallaxBG3 {
  width: 100%;
  height: 100vh;
  background: url(img/tailor.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% top;
  background-attachment: fixed;
}
.parallaxBG4 {
  width: 100%;
  height: 100vh;
  background: url(img/unbeatenpath.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% top;
  background-attachment: fixed;
}
.parallaxBG5 {
  width: 100%;
  height: 100vh;
  background: url(img/farewell.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top; 
  background-attachment: fixed;
}
.content {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.content h1 {
  text-align: center;
}


/*Text Wrap around Image*/
.img-wrap {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  background-color: green;
  margin: 0 25px 5px 0;
  float: left;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

/*Table*/

/*Nav Tabs*/
a.nav-item {
  color: #000;
}
a.nav-item:hover {}


/*中国人 About Page Styles*/

/*Style 中文 Charaters*/
.title {font-stretch: ultra-expanded;} 
.nav-link.zhnav>a:focus, 
.nav-link.zhnav>a:hover {
  background-color: red;}
/****************************************/
/****************************************/
/****************************************/
/* ======== MEDIA QUERIES ======== */
/*No media query since this is the default in Bootstrap*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
/****************************************/
/****************************************/


