/***************************************/
/************ GLOBAL STYLES ************/
/***************************************/

/************   ************/
/***************************************/



/* Main Navigation */
.navbar {
  background: #fff;
}
div.slide-left {
  width: 100%;
  overflow: hidden;
}
div.slide-left h1 {
  animation: slide-left 10s;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


/* Footer */

/***************************************/

/***************************************/
/* ********** HOME PAGE ************** */
/***************************************/


/*Buttons for 'Services' Cards*/
.btn-outline-dark:hover {
  color: #fff;    /*Black Text on 'Hover'*/
  box-shadow: inset 0 0 0 3px #000;  /*Border Inset*/
} 
/***************************************/
/*Button Transitions on 'Services Cards*/
.special {
  transition: all 0.3s;
  cursor: pointer;
}
.special span {
  cursor: crosshair;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.special span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.special:hover span {
  padding-right: 25px;
}
.special:hover span:after {
  opacity: 1;
  right: 0;
}
/*Code Offered @ https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate1*/
/*More examples at https://freebiesupply.com/blog/css-button-hoever-effects/*/
/***************************************/




/****************************************/
/* ********** ABOUT PAGE ************** */
/****************************************/

/*Text Wrap around Image*/
.img-wrap {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  background-color: green;
  margin: 0 25px 5px 0;
  float: left;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

/*List-Group 'Active' Button*/
/*a.list-group-item:not(active):hover {
  background-color: #000;
}*/
/*Demo @ */
/****************************************/

/****************************************/
/****************************************/







/* ======== MEDIA QUERIES ======== */
/*No media query since this is the default in Bootstrap*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }


/**/