/***************************************/
/************ GLOBAL STYLES ************/
/***************************************/


/************************/
/* [1]  MAIN NAVIGATION */
/************************/
.navbar {
  background: #fff;
}
div.slide-left {
  width: 100%;
  overflow: hidden;
}
div.slide-left h1 {
  animation: slide-left 10s;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/************************/



/***************************************/
/***************************************/
/***************************************/


/***************************************/
/* ********** HOME PAGE ************** */
/***************************************/

/*JUMBOTRON BACKGROUND IMAGE = index.html*/
.jumbotron {
  width: 100%;
  height: 550px; /* Use % or ###px Value*/
  background-image: url(img/tailor.jpg);
  background-repeat: no-repeat;
  /*background-position: 200% 100%;
  padding: 200px 0 140px 0;*/
  margin-bottom: -1px;
  background-size: cover; 
  background-attachment: fixed;*/
}
/*Title*/
.title {color: #fff;}
/*Nav Phone Number > Reposition to the Left to Align with Content*/
.navPhone {
  position: absolute;
  left: 15px;
}
/*Jumbotron BUTTON to 'Learn More' with Scroll-Transition to next Section*/
.jtBtn {
  position: absolute;
  left: auto;
  bottom: 50px;
}
/****************************************/
/* ********** ABOUT PAGE ************** */
/****************************************/

/*Parallax Styles for 中国人 HOME zh.html*/
.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.parallaxBG {
  width: 100%;
  height: 500px;
  background: url(img/wuzhen.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% top;
  background-attachment: fixed;
}
.parallaxBG2 {
  width: 100%;
  height: 500px;
  background: url(img/knowledge.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: 100% top;
  background-attachment: fixed;
}
.parallaxBG3 {
  width: 100%;
  height: 100vh;
  background: url(img/tailor.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}
.parallaxBG5 {
  width: 100%;
  height: 100vh;
  background: url(img/farewell.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top; 
  background-attachment: fixed;
}
.content {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.content h1 {
  text-align: center;
}


/*Text Wrap around Image*/
.img-wrap {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  background-color: green;
  margin: 0 25px 5px 0;
  float: left;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}



/*Nav Tabs*/
a.nav-item {
  color: #000;
}


/*中国人 About Page Styles*/
/*Style 中文 Charaters*/
.title {font-stretch: ultra-expanded;} 
.nav-link.zhnav>a:focus, 
.nav-link.zhnav>a:hover {
  background-color: red;}
/****************************************/
/****************************************/
/****************************************/
/* ======== MEDIA QUERIES ======== */
/*No media query since this is the default in Bootstrap*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { ... }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
/****************************************/
/****************************************/


